<header class="header">
  <div class="container">
    <mat-toolbar class="px-0 bg-white position-relative justify-content-center">
      <button mat-icon-button class="position-absolute left" aria-label="Powrót">
        <mat-icon>menu</mat-icon>
      </button>

      <h1>Angular - pierwsza aplikacja</h1>
    </mat-toolbar>
  </div>
</header>

katering

<main class="container">
  <section class="section__header">
    <p class="section__lead">
      Poznaj framework Angular oraz technologie mu towarzyszące w praktyce.
    </p>
    <div class="text-center">
      <button mat-button>Zapisz się</button>
      /
      <button mat-button>Plan szkolenia</button>
    </div>
  </section>


  <div class="row">
    <div class="col-md-3">
      <p>
        Start: <br>
        24 maj 2021
      </p>
      <p>
        Czas trwania: <br>
        21h <span class="text-muted">(3 dni po 7h)</span>
      </p>
      <p>
        Cena: <br>
        1 600 PLN <span class="text-muted">brutto</span>
      </p>
      <hr>
      <p>
        Tryb: <br>
        Szkolenie stacjonarne
      </p>
      <p>
        Lokalizacja: <br>
        Łódź (adres) - link z Dialog wyjaśniający, że dokładna lokalizacja uzalezniona od ilości uczestników
      </p>
      <p>
        Prowadzący: <br>
        (O) Marcin Dobroszek
      </p>


    </div>

    <div class="col-md-9">
      <h3>Dla kogo</h3>
      <p>
        Kurs przeznaczone jest dla osób posiadających podstawową wiedzę w zakresie JavaScript, którzy chcą
        poszerzyć swoje kompetencje związane z tworzeniem aplikacji internetowych działających po stronie przeglądarki
        (<abbr title="Single Page Application">SPA</abbr>).</p>

      <hr class="my-5">

      <h3>Wymagania</h3>
      <ul>
        <li>Podstawowa znajomość JavaScript, HTML oraz CSS.</li>
        Knowledge of TypeScript is helpful, but not required.
        <li>
          własny komputer z kartą sieciową <br>
          Trenerzy będą mieli zainstalowane systemy <a href="https://www.microsoft.com/pl-pl/windows" target="_blank"
                                                       rel="nofollow">Windows 10</a>.
        </li>
      </ul>
      <h4>Oprogramowanie</h4>
      <p>Przygotowania do szkolenia przebiegnie sprawniej jeżeli uczestncy będą mieli już zainstalowane niezbędne
        oprogramowanie:</p>
      <ul>
        <li>
          Przeglądarka Chrome
        </li>
        <li>
          NodeJS w wersji co najmniej 10.13.0 <br>
          For more information on installing Node.js, see nodejs.org.
        </li>
        <li>
          System kontroli wersji GIT oraz konto na GitHub <br>
          Trener podczas szkolenia instalować będzie <a href="https://gitforwindows.org/" target="_blank"
                                                        rel="nofollow">Git for Windows</a>
        </li>
        <li>
          Edytor kodu <br>
          Trenerzy będą używali edytorów <a href="https://www.jetbrains.com/" target="_blank"
                                            rel="nofollow">JetBrains</a>.
        </li>
      </ul>

      <hr class="my-5">

      <h3>Cel kursu</h3>
      <p>
        Celem kursu jest przedstawienie możliwościami frameworka Angular oraz zrozumienie jego fundamentalnych
        elementów. Wszystko to odbywa się podczas wspólnego budowania pierwszej aplikacji internetowej - <abbr
        title="Single Page Application">SPA</abbr>.
      </p>

      <hr class="my-5">

      <h3>Plan szkolenia</h3>
      <p>Orientacyjny plan kolejnych kroków kursu oraz elementów jakie będzie poznawał uczestnik podczas wspólnego
        tworzenia swojej pierwszej aplikacji</p>
      <h4>Dzień #1 <span class="ml-2 font-weight-normal font-size-sm text-muted">7h</span></h4>
      <ul>
        <li>
          Przygotowanie do pracy <br>
          instalacje (NodeJS, GIT, edytor, Angular CLI), zakładanie konta na GitHub
        </li>
        <li>Instlacja aplikacji Angular za pomocą Angular CLI</li>
        <li>Upublicznienie aplikacji</li>
        <li>Komponenty i ich wzajemna komunikacja</li>
      </ul>

      <h4>Dzień #2 <span class="ml-2 font-weight-normal font-size-sm text-muted">7h</span></h4>
      <ul>
        <li>Dyrektywy</li>
        <li>Potoki</li>
        <li>Instalacja Angular Material i zastosowanie komponentów Material Design</li>
        <li>Moduły funkcjonalne</li>
      </ul>

      <h4>Dzień #3 <span class="ml-2 font-weight-normal font-size-sm text-muted">7h</span></h4>
      <ul>
        <li>Usługi</li>
        <li>Strumienie obserwowalne</li>
        <li>Router Angulara</li>
        <li>Formularze oparte na szablonach</li>
      </ul>

      <hr class="my-5">

      <h3>Formularz zgłoszeniowy</h3>
    </div>
  </div>
</main>

<footer class="footer text-muted py-5">
  <div class="container d-flex align-items-center">
    <div class="logo footer__logo mr-4">&lt;/&gt;</div>
    &copy; 2021 Szkolenia z programowania
    <!--    <div class="ml-auto">Polityka prywatności</div>-->
  </div>
</footer>
